.services {
    padding-top: 0;
}

.services-main-text span {
    -webkit-text-stroke-width: 1px;
}

.services-card-main-content {
    padding: 1rem 2rem;
}

.services-card-content {
    position: relative;
    background-color: hsl(260, 60%, 98%);
    border-top: 5px solid yellow;
    padding: 2rem;
    border-radius: 8px;
    transition: .1s ease-out;
    height: 380px;
}

.services-card-content.best {
    background-color: yellow;
}

.services-card-content:hover {
    transform: translateY(-10px);
}

.services-card-img {
    width: 120px;
    margin: auto;
}

.services-card-img img {
    display: block;
    max-width: 100%;
}

.services-card-title {
    margin-top: 1rem;
    text-align: center;

}

.services-card-title h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #111;
}

.services-card-title p {
    color: #555;
}

@media screen and (max-width: 1180px) {
    .services-card-title h3 {
        font-size: 1.3rem;
    }

    .services-card-title p {
        color: #555;
        font-size: 15px;
    }


}

@media screen and (max-width: 991px) {

    .services-card-content {
        width: 500px;
        margin: auto;
    }


}

@media screen and (max-width: 600px) {
    .services-card-content {
        width: 100%;
        margin: none;
    }
}