.projects {
    padding-top: 30px;
}

.project-main-card {
    padding: 1rem;
}

.project-main-card-content {
    overflow: hidden;
}

.project-main-card-content-img img {
    width: 100%;
    display: block;
    transition: 5s ease-out;
}

.project-main-card-content:hover img {
    transform: scale(1.2);
}

.project-main-card-content {
    position: relative;
    cursor: pointer;
}

.animation-layer {
    position: absolute;
    width: 0;
    height: 0;
    background-color: rgba(34, 34, 34, .7);
    bottom: 0;
    left: 0;
    transition: .1s ease-out;
}

.project-main-card-content:hover .animation-layer {
    width: 100%;
    height: 100%;
}

.project-main-card-des {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: .3s ease-out;
    padding: 2rem;
}

.project-main-card-content:hover .project-main-card-des {
    opacity: 1;
}

.project-title {
    font-size: 3rem;
    font-weight: 800;
}

.projectNumber {
    font-size: 3rem;
    font-family: 'JetBrains Mono';
}

.card-tool {
    position: relative;
    display: inline-block;
    padding: 3px 10px;
    background-color: #fff;
    color: #222;
    margin: 3px 5px;
    box-shadow: -3px 3px 0px yellow;
    border: 1px solid #444;
}