#process {}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
    opacity: 0;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}


.swiper-main-content {
    position: relative;
    height: auto;
    max-width: 100%;
    background-color: inherit;
    padding: 2rem;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    border-top: 5px solid yellow;
    border-radius: 8px;
    height: 600px;
}

.swiper-content {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;

}

.swiper-main-content h3 {
    font-size: 4.2rem;
    font-weight: 900;
    color: #121212;
}

/*bullet and arrow swiper design*/

.swiper-pagination-bullet {
    display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.swiper-content-des {
    max-width: 800px;
}

.swiper-content-des p {
    color: #444;
    font-size: 1.4rem;
}

.swiper-main-content .number {
    display: inline-flex;
    align-items: center;
}

.swiper-main-content .number h5 {
    color: #222;
    font-size: 20rem;
    font-family: 'JetBrains Mono';
    font-weight: 200;
    opacity: .5;
}

@media screen and (max-width: 1400px) {

    .swiper-main-content .number h5 {

        font-size: 15rem;
    }

    .swiper-main-content h3 {
        font-size: 3.5rem;
    }

    .swiper-content-des p {
        font-size: 1.4rem;
    }

}

@media screen and (max-width: 1300px) {
    .swiper-main-content .number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 800px) {
    .swiper-main-content h3 {
        font-size: 2.5rem;
    }

    .swiper-content-des p {
        font-size: 1.1rem;
    }


}

@media screen and (max-width: 600px) {

    .swiper-main-content {
        height: 500px;
    }

    .swiper-main-content .number h5 {
        opacity: .3;
    }

}