/* hero section design*/

.hero {
    height: 100vh;
}

.main-hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    position: relative;
    width: 1300px;
    max-width: 100%;
    padding: 3rem;
    border: 1px dashed #fff;
}

.hero-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px dashed #fff;
    left: -2rem;
    bottom: -2rem;
    opacity: .4;
    z-index: -1;
}

.hero-greet {
    letter-spacing: 7px;
    font-weight: 200;
}

.hero-fullname {
    font-size: 3rem;
    letter-spacing: 7px;
    font-weight: 400;
}

.hero-title {
    background-color: yellow;
    padding: 10px 1.5rem;
}

.hero-title-type {
    color: #222;
    letter-spacing: 7px;
    font-size: 1.6rem;
    font-weight: 200;
}

.hero-value-des {
    font-weight: 200;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    color: #ddd;
}

.hero-value-des span {
    font-weight: 300;
    color: yellow;
}

.hero-main-button {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-main-button-content {
    display: flex;
    align-items: center;
}

.hero-main-button .hero-btn {
    background-color: #fff;
    color: #222;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 300;
    transition: .1s ease-out;
    border-color: transparent;
    outline: none;
}

.hero-main-button .hero-btn:hover {
    box-shadow: -5px 5px 0px #fff;
    background-color: yellow;
    color: #222;
    transform: translateX(10px);
    outline: none;
}

.hero-main-button .hero-btn:active {
    background-color: yellow !important;
    color: #222 !important;
}

.hero-social-links {
    margin-left: 2rem;
}

.hero-social-links a {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: .3s ease-out;
}

.hero-social-links i {
    font-size: 2rem;
    color: #fff;
    padding: 12px;
    transition: .3s ease-out;
}

.hero-social-links a:hover i {
    transform: rotate(360deg) scale(1.2);
    color: #222;
}

.hero-social-links a:hover {
    background-color: yellow;
}

.hero-review {
    margin-right: 5rem;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-review-content {
    text-align: center;
}

.hero-review-content h4 {
    font-size: 3rem;
    font-weight: 900;
    line-height: .9;
}

.hero-review-content span {
    display: inline-block;
    background-color: yellow;
    color: #222;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 13px;
}

@media screen and (max-width: 1400px) {
    .hero-review {
        width: 300px;
        margin-right: 1rem;
    }

    .hero-review-content h4 {
        font-size: 3rem;
        font-weight: 900;
    }

    .hero-review-content span {
        font-size: 12px;
    }

}

@media screen and (max-width: 1090px) {
    .hero {
        height: 85vh;
        padding-top: 70px;
    }

    .hero-review {
        margin-right: 0;
        width: 300px;
    }

    .hero-review-content h4 {
        font-size: 2rem;
        font-weight: 800;
    }

    .hero-review-content span {
        font-size: 10px;
    }
}

@media screen and (max-width: 925px) {

    .hero-review-content {
        flex-direction: column;
    }

    .hero-title-type {
        font-size: 1.4rem;
    }


}

@media screen and (max-width: 800px) {

    .hero-title-type {
        font-size: 1.3rem;
        letter-spacing: 5px;
    }

    .hero-review {
        display: none;
    }


}

@media screen and (max-width: 768px) {
    .hero-fullname {
        font-size: 2.6rem;
    }

    .hero-title-type {
        font-size: 1.2rem;
    }

    .hero-social-links i {
        font-size: 1.5rem;
    }

    .hero-main-button .hero-btn {
        padding: 12px 1.6rem;
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {

    .hero-content {
        padding: 2rem;
    }


    .hero-content::before {
        left: -1rem;
        bottom: -1rem;
    }

    .hero-main-button-content {
        flex-direction: column;
        row-gap: 1rem;
        align-items: start;
    }

    .hero-social-links {
        margin-left: 0;
    }

    .hero-social-links i {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 400px) {

    .hero {
        padding: 0;
    }

    .hero-content,
    .hero-content::before {
        border: none;
    }

    .hero-content {
        padding: 1rem;
    }

    .hero-main-button {
        margin-top: 14px;
    }

    .hero-main-button-content {
        margin-top: 0;
    }

}