.benefits {
    background-color: yellow;
    padding: 90px 60px;
}

.benefits-img,
.problems-content-img {
    width: 200px;
    margin: auto;
}

.benefits-img img,
.problems-content-img img {
    width: 100%;
    display: block;
}

.benefits-texts {
    text-align: center;
    margin-top: 1rem;
}

.benefits-texts-content {
    margin-bottom: 1rem;
}

.benefits-texts h2 {
    font-size: 4rem;
    color: #121212;
    font-weight: 800;
}

.benefits-texts-content {
    padding: 1rem;
}

.benefits-texts-content .problem {
    color: #222;
    width: 800px;
    margin: auto;
}

.benefits-texts-content .problem ul {
    list-style: none;
    text-align: start;
}

.benefits-texts-content .problem ul li {
    color: #222;
    font-size: 1.4rem;
    margin: 10px 0;
}

.benefits-texts-content .problem ul li i {
    color: #fff;
    background-color: #222;
    padding: 2px;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 14px;
}

/*problems section design*/

.problems-main-content h3 {
    margin: 1rem 0;
    font-size: 2rem;
    color: #121212;
    font-weight: 800
}

.problems-highlight {
    font-size: 5rem !important;
    font-weight: 900;
    color: red !important;
}

.problems-value {
    text-align: start;
    width: 800px;
    margin: auto;
}

.problems-value p {
    color: #222;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.problems-value p span {
    font-size: 1.3rem;
    color: #121212;
    font-weight: 800;
}

.problems-cta {
    color: red !important;
}

.problems-solution-process {
    margin-top: 2rem;
}

.problems-solution-process-main-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.problems-solution-process-main-img span {
    display: block;
    font-size: 5rem;
    color: #111;
    font-weight: 900;
}

.problems-solution-process-img {
    width: 200px;
    margin: 0 2rem;
}

.problems-solution-process-img img {
    width: 100%;
    display: block;
}

.problems-solution-process-img h4 {
    color: #111;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.process-des {
    width: 800px;
    margin: 1rem auto;
    text-align: start;
}

.process-des p {
    color: #222;
    font-size: 1.4rem;
}

#swiper {
    height: 60vh;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: start;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
    opacity: 0;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.benefits-card-title {
    color: transparent;
    font-weight: 800;
    font-size: 6rem;
    line-height: .9;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: red;
    text-align: center;
    margin: 7rem 0;
}

.swiper-main-content {
    height: 100%;
    background-color: inherit;
    border: 2px dashed #121212;
    padding: 2rem 3rem;
}

.swiper-main-content h3 {
    font-size: 5rem;
    font-weight: 900;
    color: #121212;
}

.swiper-content {}

.swiper-pagination-bullet {
    display: none !important;
}

.swiper-button-next,
.swiper-button-prev {
    display: none !important;
}

.swiper-content-des {
    width: 800px;
}

.swiper-content-des p {
    color: #222;
    font-size: 1.7rem;
}

.swiper-main-content .number {
    color: red;
    font-size: 20rem;
    font-family: 'JetBrains Mono';
    font-weight: 200;
    opacity: .5;
}