.benefits {
    background-color: yellow;
    padding: 90px 60px;
}

.benefits-img,
.problems-content-img {
    width: 200px;
    margin: auto;
}

.benefits-img img,
.problems-content-img img {
    width: 100%;
    display: block;
}

.benefits-texts {
    text-align: center;
    margin-top: 1rem;

}

.benefits-texts-content {
    margin-bottom: 1rem;
}

.benefits-texts h2 {
    font-size: 4rem;
    color: red;
    font-weight: 800;
}

.benefits-texts-content {
    padding: 1rem;

}

.benefits-texts-content .problem {
    color: #222;
    max-width: 800px;
    margin: auto;
    border: 2px dashed #222;
    padding: 1rem;
}

.benefits-texts-content .problem ul {
    list-style: none;
    text-align: start;
}

.benefits-texts-content .problem ul li {
    color: #222;
    font-size: 1.5rem;
    margin: 10px 0;
}

.benefits-texts-content .problem ul li i {
    color: #fff;
    background-color: #222;
    padding: 2px;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 14px;
}

/*problems section design*/

.problems-main-content h3 {
    margin: 1rem 0;
    font-size: 2rem;
    color: #121212;
    font-weight: 800
}

.problems-highlight {
    font-size: 5rem !important;
    font-weight: 900;
    color: red !important;
    letter-spacing: 8px;
}

.problems-value {
    text-align: start;
    max-width: 800px;
    margin: auto;
}

.problems-value p {
    color: #222;
    font-size: 1.5rem;
    margin: 10px 0;
}

.problems-value p span {
    font-size: 1.3rem;
    color: #121212;
    font-weight: 800;
}

.problems-cta {
    color: red !important;
}

@media screen and (max-width: 1180px) {

    .benefits-texts h2 {
        font-size: 3.8rem;
    }

    .benefits-texts-content .problem ul li {
        font-size: 1.3rem;
    }

    .problems-highlight {
        font-size: 3.3rem !important;
    }

    .problems-value p {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 600px) {
    .benefits-texts h2 {
        font-size: 2.6rem;
    }


    .benefits-texts-content .problem ul li {
        font-size: 1rem;
    }

    .benefits-texts-content .problem {
        padding: 5px 1rem 5px 0;
    }

}

@media screen and (max-width: 400px) {
    .benefits {
        background-color: yellow;
        padding: 90px 0px;
    }

    .problems-value p {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .problems-highlight {
        font-size: 2rem !important;
    }

}